{
  "API_KEY": "Your google API KEY",
  "NEXT_PUBLIC_FETCH_API_URL": "http://localhost:3000/api",
  "NEXT_PUBLIC_SUPABASE_URL": "Your Supabase database Url",
  "SUPABASE_SERVICE_ROLE_KEY": "Your Supabase Service Role Key",
  "NEXT_PUBLIC_SUPABASE_ANON_KEY": "Your Supabase Anon Key",
  "GOOGLE_CLIENT_ID": "Your google client id",
  "GOOGLE_CLIENT_SECRET": "Your google client Secret",
  "NEXTAUTH_SECRET": "Your NextAuth Secret",
  "MONGODB_URL": "Mongodb database URL",
  "SMPT_EMAIL": "Your gmail account email address which you using to sending verification emails from",
  "SMPT_GMAIL_PASS": "Your password for Apps from GMAIL ACC",
  "DATABASE_URL": "file:./dev.db"
}
