@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 5px;
  border: 1px solid var(--primary);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@tailwind components;
@tailwind utilities;

:root {
  --primary: rgba(0, 0, 0, 0.1);
  --secondary: cornflowerblue;
  --body-bg-dark: #000000;
  --body-bg-light: #fff;
  --header-bg-dark: #0f1011;
  --header-bg-light: #000000;
  --hamburger-bg: #424543;
  --gold: #ffd700;
  --gray: #494949;
  --primary-text-color: #fff;
  --header-height: 90px;
}

.selected {
  background-color: #218cac;
  color: white;
  border-color: #2ca2c7;
}
.selected:hover {
  cursor: default;
}
